* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mukta Mahee', sans-serif;
  --primary-bg: #F2CC8F;
  --primary: #3D405B;
  --secondary: #E07A5F;

}

/* .beat-indicator {
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
} */

body {
  overflow: hidden;

}

#svg-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;

}

#main-bg {
  fill: var(--primary-bg);
}

#top-circle {
  fill: var(--secondary);
  stroke: var(--primary);
  stroke-width: 8px;
}

#bottom-curve {
  stroke: var(--secondary);
  stroke-width: 8px;
  fill: none;
}

.icon-background {
  fill: var(--primary);
}

.icon-symbol {
  fill: var(--primary-bg);
  fill-rule: nonzero;
}


#settings-container {
  position: absolute;
  inset: 0;
  background-color: aqua;
  opacity: 0;
  transform: scale(0);
  z-index: -10;

}


.bpm-font {
  font-weight: 300;
  font-size: 120px;
  fill: var(--primary)
}

.division-font {
  font-weight: 300;
  font-size: 131.587px;
  fill: var(--primary)
}


.beat {
  fill: var(--primary);
}

.active {
  fill: var(--secondary);
}

.hide {
  opacity: 0;
  fill-rule: nonzero;
}

.show {
  fill: var(--primary);
  opacity: 1;
  fill-rule: nonzero;
}

.show-division {
  fill: var(--secondary);
  opacity: 1;
  fill-rule: nonzero;
}