* {
  box-sizing: border-box;
}


body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;

  overflow: hidden;



}

#svg-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* #main-svg {
  max-height: 100svh;



} */

/*   transform="rotate(-90,24,24)" must be inline to work */


/* svg,
svg>* {
  outline: 1px solid blue;

} */


.beat {

  fill: black;



}

.beat.active {
  fill: cadetblue
}