body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  overflow: hidden;
  min-height: 100svh;


}

#app {
  /* overflow: hidden; */

}


svg {
  /* height: 100%; */
  /* outline: 1px solid red; */
  /* max-width: 100vw; */


}

#box {
  outline: 1px solid blue;
  max-height: 100svh;
}

/* #beats-container {
  display: flex;
  gap: 2rem;
}
.beat {
  width: 100px;
  height: 100px;
  background-color: black;



}

.beat.active {
  background-color:rgb(222, 150, 56);
  font-size: 2rem;
  color: white;
} */